body {
    background: rgb(9, 119, 101);
    margin-left: 200px;
    margin-right: 200px;
}

header{
    margin-top: 70px;
}

h1 {
    color: white;
    font-family: Helvetica;
}

h2 {
    font-family: Cambria;
}

p {
font-size: 18px;
}

footer{
    margin-bottom: 30px;
}
.img_padrao{
    margin-bottom: 20px;
    width: 250px;
}

.logo{
    width: 30px;
}